<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="create-account.css" />
    <title>Document</title>
  </head>
  <body>
    <header class="header">
      <a href="#" class="">
        <img class="logo" src="logo.png" alt="Omnifood logo"
      /></a>
      <nav class="main-nav">
        <ul class="main-nav-list">
          <li><a class="main-nav-link" href="#">About us</a></li>
          <li><a class="main-nav-link" href="#">Buy a Car</a></li>
          <li><a class="main-nav-link" href="#">Sell a Car</a></li>
          <li><a class="main-nav-link" href="#">Faq</a></li>
          <li>
            <a class="main-nav-link" href="create-account.html">Sing In</a>
          </li>
          <li><a class="main-nav-link nav-cta" href="#">Sing Up</a></li>
        </ul>
      </nav>
    </header>
  </body>
</html>
